body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff; /* Un azul principal */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.usuario-info {
    display: flex;
    align-items: center;
}

.usuario-info span {
    margin-right: 15px;
}

#boton-perfil {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#boton-perfil:hover {
    background-color: #003d80;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modulo {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modulo h2 {
    color: #007bff;
}

.modulo p {
    color: #666;
    margin-bottom: 15px;
}

.modulo button {
    background-color: #28a745; /* Un verde para la acción principal */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.modulo button:hover {
    background-color: #1e7e34;
}


a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}